### 1. Importing packages

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier, StackingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

### 2. Loading datasets

In [ ]:
XY_train = pd.read_csv('application_train.csv', index_col=0)

# splitting features and response in train dataset
Y_train = XY_train[['TARGET']]
X_train = XY_train.drop('TARGET', axis=1)

X_test = pd.read_csv('application_test.csv', index_col=0)

# combining train and test features
X_combined0 = pd.concat([X_train, X_test], axis=0)
X_combined0.shape

(356255, 120)

### 3. Feature engineering

In [ ]:
# removing columns with missing values more than 20%
X_null = X_combined0.isnull().sum(axis=0)
max_na = X_combined0.shape[0] * 0.2

cols = [col for col in X_combined0.columns if X_null[col] <= max_na]
X_combined1 = X_combined0[cols]
X_combined1.shape

(356255, 70)

In [ ]:
X_combined1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 100002 to 456250
Data columns (total 70 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   NAME_CONTRACT_TYPE           356255 non-null  object
 1   CODE_GENDER                  356255 non-null  object
 2   FLAG_OWN_CAR                 356255 non-null  object
 3   FLAG_OWN_REALTY              356255 non-null  object
 4   CNT_CHILDREN                 356255 non-null  int64
 5   AMT_INCOME_TOTAL             356255 non-null  float64
 6   AMT_CREDIT                   356255 non-null  float64
 7   AMT_ANNUITY                  356219 non-null  float64
 8   AMT_GOODS_PRICE              355977 non-null  float64
 9   NAME_TYPE_SUITE              354052 non-null  object
 10  NAME_INCOME_TYPE             356255 non-null  object
 11  NAME_EDUCATION_TYPE          356255 non-null  object
 12  NAME_FAMILY_STATUS           356255 non-null  object
 13  NAME_HOUSING_TYPE            356255 non-null  object
 14  REGION_POPULATION_RELATIVE   356255 non-null  float64
 15  DAYS_BIRTH                   356255 non-null  int64
 16  DAYS_EMPLOYED                356255 non-null  int64
 17  DAYS_REGISTRATION            356255 non-null  float64
 18  DAYS_ID_PUBLISH              356255 non-null  int64
 19  FLAG_MOBIL                   356255 non-null  int64
 20  FLAG_EMP_PHONE               356255 non-null  int64
 21  FLAG_WORK_PHONE              356255 non-null  int64
 22  FLAG_CONT_MOBILE             356255 non-null  int64
 23  FLAG_PHONE                   356255 non-null  int64
 24  FLAG_EMAIL                   356255 non-null  int64
 25  CNT_FAM_MEMBERS              356253 non-null  float64
 26  REGION_RATING_CLIENT         356255 non-null  int64
 27  REGION_RATING_CLIENT_W_CITY  356255 non-null  int64
 28  WEEKDAY_APPR_PROCESS_START   356255 non-null  object
 29  HOUR_APPR_PROCESS_START      356255 non-null  int64
 30  REG_REGION_NOT_LIVE_REGION   356255 non-null  int64
 31  REG_REGION_NOT_WORK_REGION   356255 non-null  int64
 32  LIVE_REGION_NOT_WORK_REGION  356255 non-null  int64
 33  REG_CITY_NOT_LIVE_CITY       356255 non-null  int64
 34  REG_CITY_NOT_WORK_CITY       356255 non-null  int64
 35  LIVE_CITY_NOT_WORK_CITY      356255 non-null  int64
 36  ORGANIZATION_TYPE            356255 non-null  object
 37  EXT_SOURCE_2                 355587 non-null  float64
 38  EXT_SOURCE_3                 286622 non-null  float64
 39  OBS_30_CNT_SOCIAL_CIRCLE     355205 non-null  float64
 40  DEF_30_CNT_SOCIAL_CIRCLE     355205 non-null  float64
 41  OBS_60_CNT_SOCIAL_CIRCLE     355205 non-null  float64
 42  DEF_60_CNT_SOCIAL_CIRCLE     355205 non-null  float64
 43  DAYS_LAST_PHONE_CHANGE       356254 non-null  float64
 44  FLAG_DOCUMENT_2              356255 non-null  int64
 45  FLAG_DOCUMENT_3              356255 non-null  int64
 46  FLAG_DOCUMENT_4              356255 non-null  int64
 47  FLAG_DOCUMENT_5              356255 non-null  int64
 48  FLAG_DOCUMENT_6              356255 non-null  int64
 49  FLAG_DOCUMENT_7              356255 non-null  int64
 50  FLAG_DOCUMENT_8              356255 non-null  int64
 51  FLAG_DOCUMENT_9              356255 non-null  int64
 52  FLAG_DOCUMENT_10             356255 non-null  int64
 53  FLAG_DOCUMENT_11             356255 non-null  int64
 54  FLAG_DOCUMENT_12             356255 non-null  int64
 55  FLAG_DOCUMENT_13             356255 non-null  int64
 56  FLAG_DOCUMENT_14             356255 non-null  int64
 57  FLAG_DOCUMENT_15             356255 non-null  int64
 58  FLAG_DOCUMENT_16             356255 non-null  int64
 59  FLAG_DOCUMENT_17             356255 non-null  int64
 60  FLAG_DOCUMENT_18             356255 non-null  int64
 61  FLAG_DOCUMENT_19             356255 non-null  int64
 62  FLAG_DOCUMENT_20             356255 non-null  int64
 63  FLAG_DOCUMENT_21             356255 non-null  int64
 64  AMT_REQ_CREDIT_BUREAU_HOUR   308687 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_DAY    308687 non-null  float64
 66  AMT_REQ_CREDIT_BUREAU_WEEK   308687 non-null  float64
 67  AMT_REQ_CREDIT_BUREAU_MON    308687 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_QRT    308687 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_YEAR   308687 non-null  float64
dtypes: float64(20), int64(39), object(11)
memory usage: 193.0+ MB

In [ ]:
# getting no. of cardinal (numeric) columns and categorical columns
num_cols = X_combined1.select_dtypes(include=np.number).columns.tolist()
cat_cols = X_combined1.select_dtypes(include='object').columns.tolist()
        
print(f'Cardinal columns = {len(num_cols)}')
print(f'Categorical columns = {len(cat_cols)}')

Cardinal columns = 59
Categorical columns = 11

In [ ]:
# imputing cardinal columns
num_imputer = SimpleImputer(strategy='mean')
X_combined2 = X_combined1.copy()
X_combined2[num_cols] = num_imputer.fit_transform(X_combined1[num_cols])

# imputing categorical columns
for col in cat_cols:
    mode = X_combined2[col].mode()[0]
    X_combined2[col].fillna(value=mode)

X_combined2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 100002 to 456250
Data columns (total 70 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   NAME_CONTRACT_TYPE           356255 non-null  object
 1   CODE_GENDER                  356255 non-null  object
 2   FLAG_OWN_CAR                 356255 non-null  object
 3   FLAG_OWN_REALTY              356255 non-null  object
 4   CNT_CHILDREN                 356255 non-null  float64
 5   AMT_INCOME_TOTAL             356255 non-null  float64
 6   AMT_CREDIT                   356255 non-null  float64
 7   AMT_ANNUITY                  356255 non-null  float64
 8   AMT_GOODS_PRICE              356255 non-null  float64
 9   NAME_TYPE_SUITE              354052 non-null  object
 10  NAME_INCOME_TYPE             356255 non-null  object
 11  NAME_EDUCATION_TYPE          356255 non-null  object
 12  NAME_FAMILY_STATUS           356255 non-null  object
 13  NAME_HOUSING_TYPE            356255 non-null  object
 14  REGION_POPULATION_RELATIVE   356255 non-null  float64
 15  DAYS_BIRTH                   356255 non-null  float64
 16  DAYS_EMPLOYED                356255 non-null  float64
 17  DAYS_REGISTRATION            356255 non-null  float64
 18  DAYS_ID_PUBLISH              356255 non-null  float64
 19  FLAG_MOBIL                   356255 non-null  float64
 20  FLAG_EMP_PHONE               356255 non-null  float64
 21  FLAG_WORK_PHONE              356255 non-null  float64
 22  FLAG_CONT_MOBILE             356255 non-null  float64
 23  FLAG_PHONE                   356255 non-null  float64
 24  FLAG_EMAIL                   356255 non-null  float64
 25  CNT_FAM_MEMBERS              356255 non-null  float64
 26  REGION_RATING_CLIENT         356255 non-null  float64
 27  REGION_RATING_CLIENT_W_CITY  356255 non-null  float64
 28  WEEKDAY_APPR_PROCESS_START   356255 non-null  object
 29  HOUR_APPR_PROCESS_START      356255 non-null  float64
 30  REG_REGION_NOT_LIVE_REGION   356255 non-null  float64
 31  REG_REGION_NOT_WORK_REGION   356255 non-null  float64
 32  LIVE_REGION_NOT_WORK_REGION  356255 non-null  float64
 33  REG_CITY_NOT_LIVE_CITY       356255 non-null  float64
 34  REG_CITY_NOT_WORK_CITY       356255 non-null  float64
 35  LIVE_CITY_NOT_WORK_CITY      356255 non-null  float64
 36  ORGANIZATION_TYPE            356255 non-null  object
 37  EXT_SOURCE_2                 356255 non-null  float64
 38  EXT_SOURCE_3                 356255 non-null  float64
 39  OBS_30_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 40  DEF_30_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 41  OBS_60_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 42  DEF_60_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 43  DAYS_LAST_PHONE_CHANGE       356255 non-null  float64
 44  FLAG_DOCUMENT_2              356255 non-null  float64
 45  FLAG_DOCUMENT_3              356255 non-null  float64
 46  FLAG_DOCUMENT_4              356255 non-null  float64
 47  FLAG_DOCUMENT_5              356255 non-null  float64
 48  FLAG_DOCUMENT_6              356255 non-null  float64
 49  FLAG_DOCUMENT_7              356255 non-null  float64
 50  FLAG_DOCUMENT_8              356255 non-null  float64
 51  FLAG_DOCUMENT_9              356255 non-null  float64
 52  FLAG_DOCUMENT_10             356255 non-null  float64
 53  FLAG_DOCUMENT_11             356255 non-null  float64
 54  FLAG_DOCUMENT_12             356255 non-null  float64
 55  FLAG_DOCUMENT_13             356255 non-null  float64
 56  FLAG_DOCUMENT_14             356255 non-null  float64
 57  FLAG_DOCUMENT_15             356255 non-null  float64
 58  FLAG_DOCUMENT_16             356255 non-null  float64
 59  FLAG_DOCUMENT_17             356255 non-null  float64
 60  FLAG_DOCUMENT_18             356255 non-null  float64
 61  FLAG_DOCUMENT_19             356255 non-null  float64
 62  FLAG_DOCUMENT_20             356255 non-null  float64
 63  FLAG_DOCUMENT_21             356255 non-null  float64
 64  AMT_REQ_CREDIT_BUREAU_HOUR   356255 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_DAY    356255 non-null  float64
 66  AMT_REQ_CREDIT_BUREAU_WEEK   356255 non-null  float64
 67  AMT_REQ_CREDIT_BUREAU_MON    356255 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_QRT    356255 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_YEAR   356255 non-null  float64
dtypes: float64(59), object(11)
memory usage: 193.0+ MB

In [ ]:
# imputing 'NAME_TYPE_SUITE'
cat_imputer = SimpleImputer(strategy='most_frequent')
X_combined2['NAME_TYPE_SUITE'] = cat_imputer.fit_transform(X_combined1[['NAME_TYPE_SUITE']])
X_combined2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356255 entries, 100002 to 456250
Data columns (total 70 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   NAME_CONTRACT_TYPE           356255 non-null  object
 1   CODE_GENDER                  356255 non-null  object
 2   FLAG_OWN_CAR                 356255 non-null  object
 3   FLAG_OWN_REALTY              356255 non-null  object
 4   CNT_CHILDREN                 356255 non-null  float64
 5   AMT_INCOME_TOTAL             356255 non-null  float64
 6   AMT_CREDIT                   356255 non-null  float64
 7   AMT_ANNUITY                  356255 non-null  float64
 8   AMT_GOODS_PRICE              356255 non-null  float64
 9   NAME_TYPE_SUITE              356255 non-null  object
 10  NAME_INCOME_TYPE             356255 non-null  object
 11  NAME_EDUCATION_TYPE          356255 non-null  object
 12  NAME_FAMILY_STATUS           356255 non-null  object
 13  NAME_HOUSING_TYPE            356255 non-null  object
 14  REGION_POPULATION_RELATIVE   356255 non-null  float64
 15  DAYS_BIRTH                   356255 non-null  float64
 16  DAYS_EMPLOYED                356255 non-null  float64
 17  DAYS_REGISTRATION            356255 non-null  float64
 18  DAYS_ID_PUBLISH              356255 non-null  float64
 19  FLAG_MOBIL                   356255 non-null  float64
 20  FLAG_EMP_PHONE               356255 non-null  float64
 21  FLAG_WORK_PHONE              356255 non-null  float64
 22  FLAG_CONT_MOBILE             356255 non-null  float64
 23  FLAG_PHONE                   356255 non-null  float64
 24  FLAG_EMAIL                   356255 non-null  float64
 25  CNT_FAM_MEMBERS              356255 non-null  float64
 26  REGION_RATING_CLIENT         356255 non-null  float64
 27  REGION_RATING_CLIENT_W_CITY  356255 non-null  float64
 28  WEEKDAY_APPR_PROCESS_START   356255 non-null  object
 29  HOUR_APPR_PROCESS_START      356255 non-null  float64
 30  REG_REGION_NOT_LIVE_REGION   356255 non-null  float64
 31  REG_REGION_NOT_WORK_REGION   356255 non-null  float64
 32  LIVE_REGION_NOT_WORK_REGION  356255 non-null  float64
 33  REG_CITY_NOT_LIVE_CITY       356255 non-null  float64
 34  REG_CITY_NOT_WORK_CITY       356255 non-null  float64
 35  LIVE_CITY_NOT_WORK_CITY      356255 non-null  float64
 36  ORGANIZATION_TYPE            356255 non-null  object
 37  EXT_SOURCE_2                 356255 non-null  float64
 38  EXT_SOURCE_3                 356255 non-null  float64
 39  OBS_30_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 40  DEF_30_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 41  OBS_60_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 42  DEF_60_CNT_SOCIAL_CIRCLE     356255 non-null  float64
 43  DAYS_LAST_PHONE_CHANGE       356255 non-null  float64
 44  FLAG_DOCUMENT_2              356255 non-null  float64
 45  FLAG_DOCUMENT_3              356255 non-null  float64
 46  FLAG_DOCUMENT_4              356255 non-null  float64
 47  FLAG_DOCUMENT_5              356255 non-null  float64
 48  FLAG_DOCUMENT_6              356255 non-null  float64
 49  FLAG_DOCUMENT_7              356255 non-null  float64
 50  FLAG_DOCUMENT_8              356255 non-null  float64
 51  FLAG_DOCUMENT_9              356255 non-null  float64
 52  FLAG_DOCUMENT_10             356255 non-null  float64
 53  FLAG_DOCUMENT_11             356255 non-null  float64
 54  FLAG_DOCUMENT_12             356255 non-null  float64
 55  FLAG_DOCUMENT_13             356255 non-null  float64
 56  FLAG_DOCUMENT_14             356255 non-null  float64
 57  FLAG_DOCUMENT_15             356255 non-null  float64
 58  FLAG_DOCUMENT_16             356255 non-null  float64
 59  FLAG_DOCUMENT_17             356255 non-null  float64
 60  FLAG_DOCUMENT_18             356255 non-null  float64
 61  FLAG_DOCUMENT_19             356255 non-null  float64
 62  FLAG_DOCUMENT_20             356255 non-null  float64
 63  FLAG_DOCUMENT_21             356255 non-null  float64
 64  AMT_REQ_CREDIT_BUREAU_HOUR   356255 non-null  float64
 65  AMT_REQ_CREDIT_BUREAU_DAY    356255 non-null  float64
 66  AMT_REQ_CREDIT_BUREAU_WEEK   356255 non-null  float64
 67  AMT_REQ_CREDIT_BUREAU_MON    356255 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_QRT    356255 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_YEAR   356255 non-null  float64
dtypes: float64(59), object(11)
memory usage: 193.0+ MB

In [ ]:
# creating dummies for categorical columns
X_combined3 = pd.get_dummies(X_combined2)

### 4. Performance evaluation

In [ ]:
# function for performance evaluation
def model_perf(model, X, Y, prefix=''):
    Yhat = model.predict_proba(X)[:,1]
    auc = roc_auc_score(Y, Yhat)
    print(f'{prefix} AUROC score = {auc:.3f}')

# function for training and validating model
def model_fit_perf(model, X_all, Y_all, prefix=''):
    X_trn, X_val, Y_trn, Y_val = train_test_split(X_all, Y_all, test_size=0.2, 
                                                  random_state=42)
    model.fit(X_trn, Y_trn)
    print(prefix)
    model_perf(model, X_trn, Y_trn, '  Training   ')
    model_perf(model, X_val, Y_val, '  Validation ')

### 5. Modeling

In [ ]:
# function to split combined dataset into train and test
def split_train_test(X_combined, n):
    X_train = X_combined.iloc[:n,:]
    X_test = X_combined.iloc[n:,:]
    return X_train, X_test

In [ ]:
X_train, X_test = split_train_test(X_combined3, X_train.shape[0])

In [ ]:
# creating models
xgb_c = XGBClassifier()
lgbm_c = LGBMClassifier()
rf_c = RandomForestClassifier(n_estimators=50)

estms = [('xgb', xgb_c), ('lgbm', lgbm_c), ('rf', rf_c)]
stacking_c = StackingClassifier(estimators=estms, final_estimator=LGBMClassifier())

In [ ]:
# training and validating models
models = ['XGBoost', 'LGBM', 'Random Forest', 'Stacking']
xgb_auc_trn, xgb_auc_val = model_fit_perf(xgb_c, X_train, Y_train, models[0])
lgbm_auc_trn, lgbm_auc_val = model_fit_perf(lgbm_c, X_train, Y_train, models[1])
rf_auc_trn, rf_auc_val = model_fit_perf(rf_c, X_train, Y_train, models[2])
stacking_auc_trn, stacking_auc_val = model_fit_perf(stacking_c, X_train, Y_train, models[3])

XGBoost
  Training    AUROC score = 0.753
  Validation  AUROC score = 0.746
LGBM
  Training    AUROC score = 0.790
  Validation  AUROC score = 0.751
Random Forest
  Training    AUROC score = 1.000
  Validation  AUROC score = 0.701
Stacking
  Training    AUROC score = 0.878
  Validation  AUROC score = 0.748

### 6. Prediction

In [ ]:
# predicting responses for test dataset using lgbm (best Val AUROC score)
target_pred = lgbm_c.predict_proba(X_test)

sub_df = pd.read_csv('sample_submission.csv', index_col=0)
sub_df['TARGET'] = target_pred[:,1]

sub_df.to_csv('sub_home_credit.csv')

![image.png]()